body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(233, 227, 238);
    height: auto;
}
header{
    width: 100%;
    height: 190px;
    border-bottom: solid 1px rgba(171, 170, 170, 0.432) ;
    border-radius: 15px;
    background-color: white;
    text-align: right;
    align-items: flex-end;
    margin-bottom: 40px;
}
#div1header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 70px;
    padding: 20px;

}
#div2header{
    display: flex;
    justify-content: right;
    padding-right:20px ;
    gap: 8px;
    flex-direction: row-reverse;
}
p{
    font-size: 35px;
     margin: 0;
     display: inline-block;
}
#section1button{
    font-size: 16px;
    padding: 11px;
    background-color: transparent;
    border-radius: 20px;
    border:solid 1px rgba(171, 170, 170, 0.432);
    gap: 8px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition-property: color ;
    transition-duration:0.3s;
}
#section1button:hover{
    color: #ffffff;
    background-color: #7c2d12;
}
#intestlar{
    color: black;
    text-decoration: none;
    transition-property: color ;
    transition-duration:0.3s;
}
#intestlar:hover{
    color: white;
}
#img{
    display: flex;
    justify-content: center;
}
img{
width: 75%;
height: 240px;
border: solid 1px transparent;
border-radius: 25px;
}
#imgp{
    position: absolute;
    margin-top: 20px;
    font-size: 39px;
    color: #7c2d12;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}   
#imgbutton{
    position: absolute;
    margin-top: 80px;
    font-size: 60px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;

}
#imgpp{
    color: #000000;
    font-size: 20px;
    font-weight: 900;
}
#imgdivp{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    gap: 70px;
    margin-top: 206px;
}
h1{
    padding-right: 13%;
    margin-top: 30px;
    text-align: right;
}
#h1{
    width: 100%;
    display: flex;
    justify-content: right;
    flex-direction: column;
}
#h1p{
    font-size: 18px;
    text-align: right;
    padding-right: 13%;
}
#section2{
    width: 100%;
    display: flex;
    justify-content: center;
}
#section2div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: right;
    padding-right:2%;
    background-color: white;
    border: solid 1px transparent;
    border-radius: 15px;
    margin-top: 10px;
    width: 73%;
    padding-bottom: 20px;
}
ul{
display: flex;
justify-content: right;
flex-direction: column;
direction: rtl;
padding-right:9px;
line-height: 26px;
}
#section2p{
    font-size: 18px;
}
#section2divsbutton{
    display:flex;
    flex-direction:row-reverse;
    gap: 6px;
}
#section2button{
    font-size: 16px;
    padding: 11px;
    background-color: transparent;
    border-radius: 10px;
    border:solid 1px rgba(171, 170, 170, 0.432);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition-property: color ;
    transition-duration:0.3s;
}
#section2button:hover{
    color: #ffffff;
    background-color: #7c2d12;
}
#section3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: right;
    padding-right:2%;
    background-color: white;
    border: solid 1px transparent;
    border-radius: 15px;
    margin-top: 20px;
    width: 73%;
    padding-bottom: 20px;
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 30px;
}
#section4p{
    color: #858484;
    font-size: 18px;
}